/*Added root scoped css variables for colour and style theming */
:root {
  --theme1: #2D060B;
  --theme2: #92243D;
  --theme3: #d4324a;
  --theme4: #FBA7AA;
  --theme5: #800D98;
  --theme-radius: 8px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: var(--theme5);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* Anchor links and hovering gathered here*/
/* Sets the default color for all a tags on the page and removes the text-decoration*/

a {
  text-decoration: none;
  color: var(--theme1)
}

/* Sets a hover color for the links in the nav-bar */
header a:hover {
  color: var(--theme3)
}

/* Sets a different hover color for the links in the contact section*/
.contact a:hover {
  color: var(--theme5);
}


nav{
  margin-right: 3rem;
}

/* Added this so that images re-size to cover their parent-containers*/
img {
  object-fit: cover;
}

/* Section: Header */
/*set the min-width to 90vw so that the justify-content allows space for the defined margins. at 100vw the card always gets jammed against the side of the browser window*/
.main-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-height: 6rem;
  min-width: 90vw;
  margin: 0 1rem;
  padding: 1rem 0rem;
  background-color: var(--theme5);
  align-items: flex-start;
}

/* Makes the nav look more sensibly positioned */
nav{
  align-self: flex-end;
}

/*Adds the pinkish background and sets up the padding and margins*/
.header-card-style {
  margin: 0 1rem;
  padding: 0.5rem 0.5rem;
  color: var(--theme1);
  background-color: var(--theme4);
  border-radius: var(--theme-radius);
}

/* Changes the style of the unordered lists to be a flex row where they appear within the nav-bar and contact-details parents*/
.nav-bar ul,
.contact-details ul {
  display: flex;
  list-style: none;
  margin: 0.5rem 1rem;
  padding: 0;
}

/* Sets up the margins and font-size for each individual list item*/
.nav-bar li {
  display: flex;
  margin: 0 0.8rem 0 0.8rem;
  font-size: 1.2rem;
}

/* Section End: Header*/

/* Section: Hero*/

/*added this wrapper class to aid the absolute positioning of its children*/
.hero-wrapper {
  position: relative;
  min-height: 16rem;
  min-width: 100vw;
  background-color: var(--theme5);
}

/* Absolutely positioned the profile image above the hero on z-index:2 */
.profile-image {
  position: absolute;
  top: 2rem;
  left: 3rem;
  width: 200px;
  height: 200px;
  border-radius: var(--theme-radius);
  z-index: 2;
}

/* Absolutely positioned the hero banner above the hero-wrapper on z-index:1 and gave it an opacity of 0.66 so that it gets tinted by the background-color of the hero wrapper.*/
.hero-banner {
  position: absolute;
  height: 16rem;
  width: 100%;
  top: 0;
  left:0;
  background-image: url("../images/02-hero-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: none;
  opacity: 0.66;
  z-index: 1;
}

/* Absolutely positioned the sub-heading and set up its visual style*/
.hero-banner h2 {
  position: absolute;
  right: 4rem;
  bottom: 2rem;
  padding: 1rem 1rem;
  background-color: var(--theme5);
  color: var(--theme4);
  border-radius: var(--theme-radius);
  font-size: 1.8rem;
  z-index: 2;
}

/* Section End: Hero*/

/* Section: Main Content */

/* Controls the borders and flow around the main content, it is a flex column*/
.page-wrapper {
  display: flex;
  flex-direction: column;
  margin: 1rem 4rem;
  padding: 0rem 2rem;
  background-color: var(--theme4);
  border-radius: var(--theme-radius);
}

/* Nests justified flex rows*/
.page-section {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  color: var(--theme5);
}

.page-section h2 {
  flex-grow: 1;
  padding: 0rem 3rem 0rem 6rem;
  border-left: 4px solid var(--theme5);
  height: auto;
}

.sub-section {
  padding: 0rem 3rem;
  width: 80rem;
}

/* This is a nested grid for the image anchors and their title cards. Sets up the main-card as larger than the other cards*/
.card-grid {
  display: grid;
  height: auto;
  width: 55vw;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30rem 20rem 20rem;
  grid-template-areas:
    "main-card main-card"
    "sub-card1 sub-card2"
    "sub-card3 sub-card4";
}

#main-card {
  grid-area: main-card;
  margin: 0.75rem;
  position: relative;
}

#sub-card1 {
  grid-area: sub-card1;
  margin: 0.75rem;
  position: relative;
}

#sub-card2 {
  grid-area: sub-card2;
  margin: 0.75rem;
  position: relative;
}

#sub-card3 {
  grid-area: sub-card3;
  margin: 0.75rem;
  position: relative;
}

#sub-card4 {
  grid-area: sub-card4;
  margin: 0.75rem;
  position: relative;
}

/* Absolutely positions the overlay onto the anchor image*/
.title-overlay {
  position: absolute;
  bottom: 2rem;
  left: 3rem;
  height: auto;
  width: 160px;
  padding: 1rem;
  border-radius: var(--theme-radius);
  opacity: 0.85;
  background-color: antiquewhite;
}

/* Minor change here makes a big viual difference*/
.title-overlay h4 {
  padding: 1rem 0;
}

/* Controls how the image fits into its grid.  Discovered that if i set these down a percentage or 2 each it creates a cool effect with the subsequent css transition */
.sub-image-style {
  border-radius: var(--theme-radius);
  width: 99%;
  height: 98%;
  border: 2px solid black;
}

/* These are defined here so that a cool box-shadow effect appears on hovering over any of the grid-items*/
#main-card,
#sub-card1,
#sub-card2,
#sub-card3,
#sub-card4 {
  transition: all 0.4s ease-in-out;
  border-radius: var(--theme-radius);
}

#main-card:hover,
#sub-card1:hover,
#sub-card2:hover,
#sub-card3:hover,
#sub-card4:hover {
  box-shadow:
    inset 0px 0px 12px rgb(90, 13, 54),
    0px 0px 23px rgb(110, 13, 65);
}

/* The collection of styles here helps to ensure a good looking contact section*/
.contact-details {
  width: 1120px;
  font-size: 20px;
}

.contact-details ul {
  margin: 0 0.5vw;
  padding: 0 0.5vw;
}

.contact-details li { 
  margin-left: 2vw;
}

.contact-details.sub-section{
  margin-left: 0rem;
  padding: 0rem;
} 

/* Section End: Main Content*/

/* Section: Media Queries*/

@media only screen and (min-width: 769px) and (max-width: 1200px) {
/* card-grid needs to be re-arranged into 1 column */
  .card-grid {
    display: grid;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 28rem 20rem 20rem 20rem 20rem;
    grid-template-areas:
      "main-card"
      "sub-card1"
      "sub-card2"
      "sub-card3"
      "sub-card4";
  }

  /*need to change the margins here */
  .contact-details.sub-section{
    margin-left: 0;
    padding: 0;
  } 
  
  /* Need to change the direction of how the links appear to save space*/
  .sub-section ul{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  /* Saving space on margins and padding */

  .contact-details li {
    margin: 0;
    padding-bottom: 1rem;
    width: 300px;
  }

  .page-section h2 {
    padding: 0 1rem 0 2rem;
  }
}


@media only screen and (max-width: 768px) {
 
  .page-wrapper{
    margin: 1rem 1rem;
  }

  /* The cool subtitle needs to move*/
 .hero-banner h2 {
    right: 0.5rem; 
    height: auto;
    font-size: 20px;
    width: 7rem;
    text-wrap: wrap;
 }

  /*card-grid needs to be changed into a single column*/
  .card-grid {
    display: grid;
    height: auto;
    width: 65vw;
    grid-template-columns: 1fr;
    grid-template-rows: 28rem 20rem 20rem 20rem 20rem;
    grid-template-areas:
      "main-card"
      "sub-card1"
      "sub-card2"
      "sub-card3"
      "sub-card4";
  }

  /* Making savings on padding and margins */
  .sub-section {
    padding: 0 0.2rem;
  }

  /* Sets the ul to a column to save space */
  .nav-bar ul,
  .contact-details ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  /* saving space on margins and paddings */
  .contact-details li {
    margin: 0;
    padding-bottom: 1rem;
    width: 300px;
    font-size: 16px;
  }

  .page-section {
    padding: 0;
  }

  .page-section h2 {
    padding: 0 1rem 0 0.8rem;
  }

  .page-wrapper {
    margin: 1rem 0rem;
    padding: 0;
  }

  .profile-image {
    top: 1rem;
    left: 1.5rem;
  }
}

/* Section End: Media Queries */